
.srbutton {
	border-radius: 10px; 
	padding:6px; 
	background-color: #8BA3B5; 
	border: none; 
	color: white; 
	width: 80%; 
	font-size: 15px
}

.srbutton:hover, .srbutton-active, .srnbutton:active {
	color: black;
	outline:none !important;
}

/**** 공지사항, 문의사항 새글 작성 이미지 *****/
.newPost {
	width: 60px; 
	position:fixed; 
	bottom: 30; 
	right: 45;
	cursor: pointer;
}