<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oti.team2.system.dao.ISystemDao">
	<select id="selectAll" resultType="system">
		SELECT SYS_CD as sysCd ,
			SYS_NM as sysNm
		FROM SYSTEMS
	</select>
	
	<!-- sysCd로 부서cd 가져오기 -->
	<select id="getDeptCdBySysCd" parameterType="string" resultType="string">
		SELECT DEPT_CD
		FROM SYSTEMS
		WHERE SYS_CD = #{sysCd}
	</select>
	
	<!-- 첫 시스템 정보만 가져온다. -->
	<select id="selectFirstSystem" resultType="system">
		SELECT SYS_CD as sysCd, SYS_NM as sysNm
		FROM SYSTEMS
		OFFSET 0 ROWS FETCH NEXT 1 ROWS ONLY
	</select>
</mapper>