<
style>


.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 20px;
}

.modal.show {
	display: block;
}

.modal_body {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 600px;
	/* padding: 40px; */
	/* text-align: center; */
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}
.modal_devbody {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 900px;
	/* padding: 40px; */
	/* text-align: center; */
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}

.m_head {
	height: 10%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #92344B;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.m_body {
	height: 81%;
	padding: 20px;
}
.m_devhead {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #92344B;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.m_devbody {
	height: 87%;
	padding: 20px;
}

.m_footer {
	height: 8%;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: end;
}

.modal_title {
	font-size: 18px;
	color: gray;
	font-weight: 500;
}

.close_btn {
	font-size: 20px;
	color: rgb(139, 139, 139);
	font-weight: 900;
	cursor: pointer;
}

.modal_label {
	padding-top: 10px;
}

.input_box {
	width: 100%;
	border: 1px solid rgb(189, 189, 189);
	height: 30px;
}

.modal_btn {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bolder;
	padding-top: 5px;
	margin-left: 5px;
	font-family: sans-serif;
}

.cancle {
	background-color: #92344B;
	color: white;
}

.save {
	background-color: #92344B;
	color: white;
}
div .col {
	float: left;
}
.form-group {
	margin-left: 5px;
}
select {
  padding: 4px;
}
</
style
>